<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crypto</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="app">
      <img v-bind:src="img" v-bind:alt="name" srcset="" />
      <h1>{{ name }}
        <span v-if="changePercent > 0"> 👍 </span>
        <span v-else-if="changePercent === 0"> 🤞 </span>
        <span v-else="changePercent < 0"> 👎 </span>
      </h1>
      <ul>
        <li v-for="(price, index) in pricesWithDays" v-bind:key="price.day">
          {{ price.day }}: {{ price.value }}
        </li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
